<div>
  <div class="div_button" style="padding-bottom: 15px">
    <button mat-mini-fab matTooltip="Adauga furnizori noi" (click)="editSupplier()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="center-div-parent">
    <mat-card class="mat-elevation-z5 container-parent">
      <ngx-datatable
        #supplierTable
        class="material"
        [rows]="suppliers"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [offset]="page"
        [limit]="pageSize"
      >

        <ngx-datatable-column name="Id">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nume">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cod postal">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.postalCode}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Adresa">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.address}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Depozite asociate">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-button color="primary" matTooltip="Vizualizeaza lista de depozite" (click)="viewListOfWarehouses(row)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Produse disponibile">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-button color="primary" matTooltip="Vizualizeaza lista de produse" (click)="viewListOfProducts(row)">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actiuni">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-button color="accent" matTooltip="Editeaza depozitul" (click)="editSupplier(row)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-button color="warn" matTooltip="Sterge depozitul" (click)="deleteWarehouse(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
          >
            <div style="padding: 5px 10px">
              <div>
                Elemente totale: {{ totalElements }}
              </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>

      </ngx-datatable>
      <mat-paginator #paginator [pageIndex]="page"
                     [length]="totalElements"
                     [pageSize]="pageSize"
                     [hidePageSize]="true"
                     class="paginator-align"
                     (page)="changePage($event)"></mat-paginator>


    </mat-card>

  </div>
</div>
