<div>
  <div class="div_button" style="padding-bottom: 15px">
    <button mat-mini-fab matTooltip="Adauga produse noi" (click)="editProduct()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="center-div-parent">
    <mat-card class="mat-elevation-z5 container-parent">
      <ngx-datatable
        #productTable
        class="material"
        [rows]="products"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [offset]="page"
        [limit]="pageSize"
      >
        <ngx-datatable-column>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-container *ngIf="row.base64Image; else noPhoto">
              <img src="{{'data:image/jpg;base64,' + row.base64Image}}"/>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Id">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nume produs">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.productName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Pret">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.price}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descriere">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actiuni">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-button color="accent" matTooltip="Editeaza depozitul" (click)="editProduct(row)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-button color="warn" matTooltip="Sterge depozitul" (click)="deleteProduct(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
          >
            <div style="padding: 5px 10px">
              <div>
                Elemente totale: {{ totalElements }}
              </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>

      </ngx-datatable>
      <mat-paginator #paginator [pageIndex]="page"
                     [length]="totalElements"
                     [pageSize]="pageSize"
                     [hidePageSize]="true"
                     class="paginator-align"
                     (page)="changePage($event)"></mat-paginator>


    </mat-card>

  </div>
</div>

<ng-template #noPhoto>
  <h4>Nu exista imagine</h4>
</ng-template>
