<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="card-body">
    <mat-card-header>
      <mat-card-title>Inregistreaza un nou client</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerFormGroup">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nume" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Numar telefon" mask="000000000" prefix="+40" [dropSpecialCharacters]="false" formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Parola" type="password" formControlName="password">
        </mat-form-field>
        <button mat-stroked-button color="primary" class="btn-block" (click)="register()">Inregistrare</button>
      </mat-card-content>
    </form>
  </mat-card>

</div>
