<ng-container *ngIf="cartState?.products?.length">

  <mat-card class="mat-elevation-z5 center">
    <mat-card-content>
      <ngx-datatable
        #productTable
        class="material"
        [rows]="cartState?.products"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
      >

        <ngx-datatable-column name="Nume produs">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.productName}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Pret">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.price}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descriere">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>
        >
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
          >
            <div style="padding: 5px 10px">
              <b>
                Pret total: {{ totalPrice }}
              </b>
            </div>
          </ng-template>
        </ngx-datatable-footer>

      </ngx-datatable>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary" style="margin-right: 5px; margin-bottom: 5px" (click)="placeOrder()">Plaseaza comanda</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<div *ngIf="!cartState?.products?.length && !isOrderPlaced" style="text-align: center; font-weight: bold">
  <h4>Nu exista produse adaugate in cos</h4>
</div>

<div *ngIf="!cartState?.products?.length && isOrderPlaced" style="text-align: center; font-weight: bold">
  <h4>Multumim pentru achizitie!</h4>
</div>
