<ng-container>
  <h4 mat-dialog-title>
    Adauga o noua adresa
  </h4>
  <div mat-dialog-content>
    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="address.address" placeholder="Adresa completa">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="address.city" placeholder="Oras">
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="address.postalCode" placeholder="Cod postal">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onNoClick()">Renunta</button>
    <button mat-button color="primary" [mat-dialog-close]="address">Salveaza</button>
  </div>
</ng-container>
